.footer-links{
    width: 20%;
    padding: 20px;

    @media (max-width:900px) {
        width: 90%;
    }
    >h2{
        font-size: 24px;
        color: #ffffffa9;
    }
    >div{
        display: flex;
        flex-direction: column;
        gap: 5px;
        a{
            text-decoration: none;
            color: #ffffffa9;
        }
        a:hover{
            color: #ffffff;
        }
    }
}